Round: <ang-toggler [(ngModel)]="val1" [disabled]="val2"></ang-toggler> {{ val1 }} <br />
Square: <ang-toggler tgl-square [(ngModel)]="val2" [styling]="{ colorBackgroundActive: 'yellow' }"></ang-toggler> {{ val2 }}

<br />
<br />
<h2>Themes</h2>
<ang-toggler theme="primary"></ang-toggler> - Primary
<br />
<ang-toggler theme="error"></ang-toggler> - Secondary

<h2>Size</h2>
<ang-toggler theme="primary" size="sm"></ang-toggler> - sm <br />
<ang-toggler theme="primary" size="md"></ang-toggler> - md <br />
<ang-toggler theme="primary" size="lg"></ang-toggler> - lg <br />

<ang-toggler theme="primary" width="150px" height="50px"></ang-toggler>

<h3>Third theme</h3>
<ang-toggler theme="third" size="lg"></ang-toggler> <br />
